.nav-link:hover
{
    transform: scale(1.0)
}

.body-container
{
    padding-bottom: 60px;
}

.psu-logo
{
    height: 2em;
}

.border-dashed
{
    border-style: dashed;
    border-width: 3px;
}

.x-small
{
    font-size:.75em;
}
.card {
    margin-bottom: 20px; /* Add margin between each card */
}

.card-body {
    padding: 20px; /* Adjust padding within the card body */
}

.conduct-list {
    padding-left: 20px; /* Adjust padding for the unordered list */
}

.conduct-item {
    list-style-type: none; 
}

.custom-card {
        background-color: #f8f9fa; /* Light gray background color for cards */
    }