@{
    ViewData["Title"] = "About";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
            <h1><strong>Group 3's group contract</strong></h1>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3><strong>Our Communication Plan</strong></h3>
                    <p>We will discuss group projects in the text message 
                        group chat.
                    </p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h3><strong>Code of Conduct</strong></h3>
                    <ul class="conduct-list">
                        <li class="conduct-item">Respectful</li>
                        <li class="conduct-item">Responsive</li>
                        <li class="conduct-item">Kind</li>
                        <li class="conduct-item">Responsible</li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h3><strong>Level of expectation of each member</strong></h3>
                    <p>We expect each member to respond within 24 hours and 
                        to make a contribution in some way.
                    </p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h3><strong>Group Values</strong></h3>
                    <p>Group 3 values respect, communication, and hard work.</p>
                </div>
            </div>

            <h2><strong>Participants</strong></h2>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="https://media.licdn.com/dms/image/D4E03AQHsWqePiPitNw/profile-displayphoto-shrink_800_800/0/1696272027715?e=2147483647&v=beta&t=9_-37szTRMgb2xYdV-VnkYMvQLrcOEtzwVV-TLE7XOU" alt="Member Avatar for Lisette Leonard" class="img-fluid">
                        </div>

                        <div class="col-md-9">
                            <h3>Lisette Leonard</h3>
                            <p>Lisette's skills: has some web dev experience</p>
                            <p>A challenge Lisette faces is communication</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="https://media.licdn.com/dms/image/C4D03AQHVSZo_GW21EA/profile-displayphoto-shrink_400_400/0/1663011005241?e=1704326400&v=beta&t=Ks3EnGx0fUhD4s4KpNygut6twh2g3SyF-8n4kYQlslA" alt="Member Avatar for Ryan Britton" class="img-fluid">
                        </div>

                        <div class="col-md-9">
                            <h3>Ryan Britton</h3>
                            <p>Ryan's skills: basic validations</p>
                            <p>Challenges are Bootstrap and jQuery</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="https://media.licdn.com/dms/image/D5603AQF5RDeskQr1mw/profile-displayphoto-shrink_800_800/0/1682349441130?e=2147483647&v=beta&t=GgVrt7Jwiv98y7GpFxfxmCBz_79dgoMCTTQiBH_dnv8" alt="Member Avatar for Rylie Stewart" class="img-fluid">
                        </div>

                        <div class="col-md-9">
                            <h3>Rylie Stewart</h3>
                            <p>Rylie's skills: website styling and JavaScript</p>
                            <p>Challenges are coding the base in Bootstrap and Git</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="https://media.licdn.com/dms/image/C5603AQF2GbOS7veWvA/profile-displayphoto-shrink_800_800/0/1634848155384?e=1704326400&v=beta&t=TNY-A0WU1WKlFCsB3vw17Vtn3Fq_wH32D1WNNtzNM_o" alt="Member Avatar for Andrew Morrison" class="img-fluid">
                        </div>

                        <div class="col-md-9">
                            <h3>Andrew Morrison</h3>
                            <p>Andrew's skills: working with basic validation</p>
                            <p>Challenges are reading</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="https://scontent-iad3-2.xx.fbcdn.net/v/t1.18169-1/12705406_148103648905197_3215165758763100615_n.jpg?stp=dst-jpg_p320x320&_nc_cat=100&ccb=1-7&_nc_sid=2b6aad&_nc_ohc=G7xq5Pf61jwAX-J1zaT&_nc_ht=scontent-iad3-2.xx&oh=00_AfBjhWNskwSs_p-YkeZ6BV1rV3kM2yUggCs2Tr9PUEkMpw&oe=6568D0E7" alt="Member Avatar for Josh Rogan" class="img-fluid">
                        </div>

                        <div class="col-md-9">
                            <h3>Josh Rogan</h3>
                            <p>Josh's skills: Working with and importing APIs with Node</p>
                            <p>Challenges are building controllers for projects</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="https://scontent-yyz1-1.cdninstagram.com/v/t51.2885-19/375337749_7161501290530002_2369482580978174206_n.jpg?stp=dst-jpg_s320x320&_nc_ht=scontent-yyz1-1.cdninstagram.com&_nc_cat=106&_nc_ohc=FwOU01Kj1g0AX8zmKk_&edm=AOQ1c0wBAAAA&ccb=7-5&oh=00_AfCUdni7oG1G47VzbzvrXc9uYFHP7VyUhuKgtGiE7Kz_2A&oe=657BFA34&_nc_sid=8b3546" alt="Member Avatar for Andrew Loffler" class="img-fluid">
                        </div>

                        <div class="col-md-9">
                            <h3>Andrew Loeffler</h3>
                            <p>Andrew's skills: Coding in html and css</p>
                            <p>Challenges are using github</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
