
@{
	ViewData["Title"] = "Home Page";

}

<head>
    <title>@ViewData["Group Project 3"]</title>
	 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Store</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="homepage.css">
</head>

<body>
<div>
	<h1 class="display-4">Group 3</h1>
		  <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to our Home Page!!</h1>
            <p class="lead">Hello! I am glad you found our homepage, it is nice to have you here ! :) Welcome to Food and Stuff Co. – 
			where style meets substance, and shopping becomes an experience. Nestled at the intersection of 
			elegance and functionality, our storefront is a haven for those who seek quality, trendsetting designs, 
			and a seamless shopping journey. Step into a world where every product 
			tells a story, and every purchase is an investment in both style and practicality.</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="#" role="button">Shop Now</a>
        </div>
    </div>
	<div class="row">
		<h2>Featured Items</h2>
		<div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="https://i.etsystatic.com/47390555/r/il/f78a9b/5402221844/il_640xN.5402221844_j7ly.jpg" width="150" height="300" alt = "item"/>
                    <div class="card-body">
						@* <a class="wt-card__action-link" title="Pumpkin Pie Sugar Scrub" href="https://www.etsy.com/listing/1585423341/pumpkin-pie-sugar-scrub?click_key=3a87eaaa587a31aac502ab866336d1c9911d8e31%3A1585423341&amp;click_sum=01f59626&amp;ref=shop_home_active_1" target="etsy.1585423341"> *@
                        <h5 class="card-title">Pumpkin Pie Sugar Scrub</h5>                        
						<p class="card-text">$10.00</p> 
                        <a href="#" class="btn btn-primary">Buy Now</a>
					</div>
				</div>
		</div>
	
		<div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="https://i.etsystatic.com/47390555/r/il/1a4aec/5450330833/il_320xN.5450330833_aifj.jpg" width="100" height="300" alt = "item"/>
                    <div class="card-body">
						@* <a class="wt-card__action-link" title="Pumpkin Pie Sugar Scrub" href="https://www.etsy.com/listing/1585423341/pumpkin-pie-sugar-scrub?click_key=3a87eaaa587a31aac502ab866336d1c9911d8e31%3A1585423341&amp;click_sum=01f59626&amp;ref=shop_home_active_1" target="etsy.1585423341"> *@
                        <h5 class="card-title">Cozy FireSide Sugar Scrub</h5>                        
						<p class="card-text">$10.00</p> 
                        <a href="#" class="btn btn-primary">Buy Now</a>
					</div>
				</div>
		</div>
		</div>
		<div class="col-4">
			<h3>New Deals</h2>
                <div class="card">
                    <img class="card-img-top" src="someImage.jpg" alt="Disounted Item">
                    <div class="card-body">
                        <h5 class="card-title">Item</h5>
                        <p class="card-text">Item Description</p>
                        <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                </div>
		</div>
	</div>
</div>
</body>
