@model IEnumerable< FinalProject.DAL.Models.Category> //wait for demo
@{
	ViewData["Title"] = "Home Page";

}



	<h1 class="display-4">Group 3</h1>
		  <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to our Home Page!!</h1>
            <p class="lead">Hello! I am glad you found our homepage, it is nice to have you here ! :) Welcome to Food and Stuff Co. – 
			where style meets substance, and shopping becomes an experience. Nestled at the intersection of 
			elegance and functionality, our storefront is a haven for those who seek quality, trendsetting designs, 
			and a seamless shopping journey. Step into a world where every product 
			tells a story, and every purchase is an investment in both style and practicality.</p>
            <hr class="my-4">

			<a class="btn btn-primary btn-lg" href="#scrollTarget" role="button" style="margin-bottom: 300px;" onclick="scrollDown()">Shop Now</a>

        	</div>
   		 </div>
	

			<div class="row">
				<div id="destScroll"></div>
    			@foreach (var item in Model)
    			{
        			<div class="col-md-4">
    				<div class="card m-1" style="width: 400px; height: 400px; background-color: rgb(167, 214, 167);">
        				<img class="card-img-top" src="@item.ImageName" alt="@item.CategoryName descriptive image" style="max-width: 50%; height: 50%;" />
        			<div class="card-body" card>
            		<h5 class="card-title">@item.CategoryName</h5>
            		<p class="card-text">@item.Description</p>
            		<p class="card-text">$10.00</p>
        			</div>
        		<div class="card-footer">
            	<button onclick="redirectToDetails()">View Items</button>
            	<button onclick="redirectToOrder()">Buy Now</button>
        		</div>
    		</div>
	

		</div>
	


    			}

 				<script>
                    function redirectToOrder() 
                    {
                        var orderPageURL = "https://localhost:7266/Home/Order";
        
                        window.location.href = orderPageURL;
                    }
                </script>

				<script>
    				function redirectToDetails() 
					{
       				 	var DetailsPageURL = "https://localhost:7266/Home/Details";

       					window.location.href = DetailsPageURL;
    				}
				</script>

				<script>
    				function scrollDown() 
					{
       
        			var destElement = document.getElementById('destScroll');

        				
        				destElement.scrollIntoView(
						{
            				behavior: 'smooth'
       					 
						 }
						 );
    				}
				</script>

				</div>
				</div>
			</div>
			