
@{
	ViewData["Title"] = "Home Page";
	
}

<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="homepage.css">
</head>

<body>
<div>
	<h1 class="display-4">Group 3</h1>
	<p>
		Welcome to our Home Page!!
	</p>
	<div class="row">
		<div class="col-4">
			Hello! I am glad you found our homepage, it is nice to have you here ! :) Welcome to [Your Store Name] – 
			where style meets substance, and shopping becomes an experience. Nestled at the intersection of 
			elegance and functionality, our storefront is a haven for those who seek quality, trendsetting designs, 
			and a seamless shopping journey. Step into a world where every product 
			tells a story, and every purchase is an investment in both style and practicality.
		</div>
		<div class="col-4">
			Boot Strap column 2
		</div>
		<div class="col-4">
			Boot Strap column 3
		</div>
	</div>
</div>
</body>
