
@{
	ViewData["Title"] = "Home Page";

}

<head>
    <title>@ViewData["Group Project 3"]</title>
	 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Store</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="homepage.css">
</head>

<body>
<div>
	<h1 class="display-4">Group 3</h1>
		  <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to our Home Page!!</h1>
            <p class="lead">Hello! I am glad you found our homepage, it is nice to have you here ! :) Welcome to Food and Stuff Co. – 
			where style meets substance, and shopping becomes an experience. Nestled at the intersection of 
			elegance and functionality, our storefront is a haven for those who seek quality, trendsetting designs, 
			and a seamless shopping journey. Step into a world where every product 
			tells a story, and every purchase is an investment in both style and practicality.</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="#" role="button">Shop Now</a>
        </div>
    </div>
		<div class="col-4">
			<h2>Featured Items</h2>
                <div class="card">
                    <img class="card-img-top" src="someImage.jpg" alt="Item for sale">
                    <div class="card-body">
                        <h5 class="card-title">Item</h5>
                        <p class="card-text">Item Description</p>
                        <a href="#" class="btn btn-primary">Buy Now</a>
					</div>
				</div>
		</div>
		<div class="col-4">
			<h3>New Deals</h2>
                <div class="card">
                    <img class="card-img-top" src="someImage.jpg" alt="Disounted Item">
                    <div class="card-body">
                        <h5 class="card-title">Item</h5>
                        <p class="card-text">Item Description</p>
                        <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                </div>
		</div>
	</div>
</div>
</body>
